.typewriter {
  overflow: hidden;
  border-right: .15em solid #fff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .1em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* Typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Cursor blink */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #fff; }
}
